@use "../../../styles/tokens";
@use "../../../styles/variables";

// Button common style
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--Radius-m);
    box-shadow: var(--Shadow-bottom-xs);
}

// Icon button style
.isIcon {
    padding: var(--Icon-xxs);
}

// Icon style
.leading-icon, .trailing-icon, .icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &--aditional {
       margin-left: var(--Gap-xxs);
       padding-left: var(--Gap-s);

       &::after {
            content: "";
            position: absolute;
            left: 0;
            top: calc(var(--Gap-xs) * -1);
            bottom: calc(var(--Gap-xs) * -1);
            width: 1px;
            background-color: var(--Neutral-Black-30);
        }
    }

    svg {
        width: var(--Icon-m);
        height: var(--Icon-m);
    }
}

//Badge style
.badge {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--Radius-xs);
    max-height: 20px;
    max-width: 20px;
}

// Variant button style
.Primary, .Secondary, .Ghost, .Destructive {
    &:focus {
        box-shadow: var(--Focus-ring-primary);
    }

    &:disabled {
        opacity: 40%;
    }
}

.Primary {
    background-color: var(--color-button-primary-default);
    color: var(--color-text-invert);
    border: solid 1px var(--Neutral-Black-30);

    &:hover {
        background-color: var(--color-button-primary-hover);
    }

    .badge {
        background-color: var(--Neutral-White-20);
    }
}

.Secondary {
    background-color: var(--color-button-secondary-default);
    color: var(--color-text-body);
    border: solid 1px var(--color-stroke-primary);

    svg {
        color: var(--Neutral-Grey-500);
    }

    &:hover {
        background-color: var(--color-button-secondary-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-10);
    }
}

.Ghost {
    background-color: var(--color-button-ghost-default);
    color: var(--color-ghost-secondary);
    border: solid 1px var(--color-stroke-primary);

    &:hover {
        background-color: var(--color-button-ghost-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-10);
    }
}

.Destructive {
    background-color: var(--color-button-destructive-default);
    color: var(--color-destructive-secondary);
    border: solid 1px var(--Neutral-Black-30);

    &:hover {
        background-color: var(--color-button-destructive-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-20);
    }
}

// Size button style
.M {
    padding: var(--Gap-xs) var(--Gap-s);
    max-height: 40px;
    gap: var(--Gap-xs);

    @include tokens.typography("m", "medium");

    .badge {
        padding: var(--Gap-xxs) var(--Gap-xs);

        @include tokens.typography("xs", "semibold");
    }
}

.S {
    padding: var(--Gap-xs) var(--Gap-s);
    max-height: 36px;
    gap: var(--Gap-xs);

    @include tokens.typography("m", "medium");

    .badge {
        padding: var(--Gap-xxs) var(--Gap-xs);

        @include tokens.typography("xs", "semibold");
    }
}

.XS {
    padding: var(--Gap-xs) var(--Gap-xs);
    max-height: 34px;
    gap: var(--Gap-xxs);

    @include tokens.typography("s", "medium");

    .leading-icon, .trailing-icon, .icon {
        svg {
            width: var(--Icon-s);
            height: var(--Icon-s);
        }
    }

    .badge {
        max-height: 17px;
        max-width: 16px;
        padding: var(--Gap-xxs) var(--Gap-xs);

        @include tokens.typography("xxs", "semibold");
    }
}