@use "../../../styles/tokens";
@use "../../../styles/variables";

// Button common style
.button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--Radius-m);
    box-shadow: var(--Shadow-bottom-xs);
    overflow: hidden;
    
    &:focus {
        box-shadow: var(--Focus-ring-primary);
    }

    &:disabled {
        opacity: 40%;
    }

    .leading-icon, .trailing-icon, .icon {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &--aditional {
           margin-left: var(--Gap-xxs);
           padding-left: var(--Gap-s);

           &::after {
                content: "";
                position: absolute;
                left: 0;
                top: calc(calc(var(--Gap-xs) + (var(--max-height))) * -1);
                bottom: calc(calc(var(--Gap-xs) + (var(--max-height))) * -1);
                width: 1px;
                background-color: var(--Neutral-Black-30);
            }
        }

        svg {
            width: var(--Icon-m);
            height: var(--Icon-m);
        }
    }

    .badge {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border-radius: var(--Radius-xs);
        max-height: 20px;
        max-width: 20px;
        padding: var(--Gap-xxs) var(--Gap-xs);
        @include tokens.typography("xs", "semibold");
    }
}

// Icon button style
.isIconOnly {
    padding: var(--Icon-xxs);
}

// Variant button style
.primary {
    background-color: var(--color-button-primary-default);
    color: var(--color-text-invert);
    border: solid 1px var(--Neutral-Black-30);

    &:hover {
        background-color: var(--color-button-primary-hover);
    }

    svg {
        color: var(--Neutral-White-100);
    }

    .badge {
        background-color: var(--Neutral-White-20);
    }
}

.destructive {
    background-color: var(--color-button-destructive-default);
    color: var(--color-destructive-secondary);
    border: solid 1px var(--Neutral-Black-30);

    &:hover {
        background-color: var(--color-button-destructive-hover);
    }

    svg {
        color: var(--Neutral-White-100);
    }

    .badge {
        background-color: var(--Neutral-Black-20);
    }
}

.secondary, .ghost {
    color: var(--color-text-body);

    svg {
        color: var(--Neutral-Grey-500);
    }

    .badge {
        background-color: var(--Neutral-Black-10);
    }
}

.secondary {
    background-color: var(--color-button-secondary-default);
    border: solid 1px var(--color-stroke-primary);

    &:hover {
        background-color: var(--color-button-secondary-hover);
    }
}

.ghost {
    background-color: var(--color-button-ghost-default);

    &:hover {
        background-color: var(--color-button-ghost-hover);
    }
}

.alpha-dark {
    background-color: var(--Neutral-Black-20);

    &:hover {
        background-color: var(--Neutral-Black-30);
    }

    svg {
        color: var(--Neutral-White-100);
    }
}

.alpha-light {
    background-color: var(--Neutral-White-20);

    &:hover {
        background-color: var(--Neutral-White-30);
    }

    svg {
        color: var(--Neutral-White-100);
    }
}

// Size button style
.m {
    --max-height: 40px;
    padding: var(--Gap-xs) var(--Gap-s);
    max-height: var(--max-height);
    gap: var(--Gap-xs);
    @include tokens.typography("m", "medium");
}

.s {
    --max-height: 36px;
    padding: var(--Gap-xs) var(--Gap-s);
    max-height: height;
    gap: var(--Gap-xs);
    @include tokens.typography("m", "medium");
}

.xs {
    --max-height: 34px;
    padding: var(--Gap-xs) var(--Gap-xs);
    max-height: var(--max-height);
    gap: var(--Gap-xxs);
    @include tokens.typography("s", "medium");

    .leading-icon, .trailing-icon, .icon {
        svg {
            width: var(--Icon-s);
            height: var(--Icon-s);
        }
    }

    .badge {
        max-height: 17px;
        max-width: 16px;
        padding: var(--Gap-xxs) var(--Gap-xs);
        @include tokens.typography("xxs", "semibold");
    }
}