@use "../../../styles/tokens";
@use "../../../styles/variables";

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
    box-shadow: var(--Shadow-bottom-xs);
}

.left {
    position: relative;
    display: inline-flex;
    gap: var(--Gap-xs);
    justify-content: center;
    align-items: center;
    border-radius: var(--Radius-m) 0 0 var(--Radius-m);
}

.right {
    position: relative;
    display: inline-flex;
    gap: var(--Gap-xs);
    justify-content: center;
    align-items: center;
    border-radius: 0 var(--Radius-m) var(--Radius-m) 0;
}

.isIcon {
    padding: var(--Icon-xxs);
}

.leading-icon, .trailing-icon, .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        
        svg {
            width: var(--Icon-m);
            height: var(--Icon-m);
        }
    }

.Primary {
    background-color: var(--color-button-primary-default);
    color: var(--color-text-invert);
    border: solid 1px var(--Neutral-Black-30);

    &:hover {
        background-color: var(--color-button-primary-hover);
    }

    .badge {
        background-color: var(--Neutral-White-20);
    }
}

.Secondary {
    background-color: var(--color-button-secondary-default);
    color: var(--color-text-body);
    border: solid 1px var(--color-stroke-primary);

    svg {
        color: var(--Neutral-Grey-500);
    }

    &:hover {
        background-color: var(--color-button-secondary-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-10);
    }
}

.Ghost {
    background-color: var(--color-button-ghost-default);
    color: var(--color-ghost-secondary);
    border: solid 1px var(--color-stroke-primary);

    &:hover {
        background-color: var(--color-button-ghost-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-10);
    }
}

.Destructive {
    background-color: var(--color-button-destructive-default);
    color: var(--color-destructive-secondary);

    &:hover {
        background-color: var(--color-button-destructive-hover);
    }

    .badge {
        background-color: var(--Neutral-Black-20);
    }
}

.Primary, .Secondary, .Ghost, .Destructive {
    &:focus {
        box-shadow: var(--Focus-ring-primary);
    }

    &:disabled {
        opacity: 40%;
    }
}

.M {
    padding: var(--Gap-xs) var(--Gap-s);

    @include tokens.typography("m", "medium");

    .text {
        position: relative;
        
        // &--withBar {
        //     padding-right: var(--Gap-s);

        //     &::after {
        //         content: "";
        //         position: absolute;
        //         right: 0;
        //         top: calc(var(--Gap-xs) * -1);
        //         bottom: calc(var(--Gap-xs) * -1);
        //         width: 1px;
        //         background-color: black;
        //     }
        // }
        
    }

    .badge {
        @include tokens.typography("xs", "semibold");
    }
}

.S {
    padding: var(--Gap-xs) var(--Gap-s);
}

.XS {
    padding: var(--Gap-xs) var(--Gap-xs);
}  

.badge {
    display: inline-flex;
    justify-content: center;
    padding: var(--Gap-xxs) var(--Gap-xs);
    border-radius: var(--Radius-xs);
}

