@use "./styles/tokens";
@use "./styles/variables";

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: var(--Gap-s);
  background-color: white;
}