@use "./styles/tokens";
@use "./styles/variables";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: var(--Gap-s);
  background-color: var(--color-bg-default);
}

.row {
  display: flex;
  gap: var(--Gap-s);
}